<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->

<head>
  <link rel="stylesheet" href="/Users/GeorgeRodriguez/desktop/wyncode/twitter1on1/app/assets/stylesheets/application.css">

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Tweeter</title>
</head>
<body class>
<center><h1>Tweeter<h1></center>
  <% @users.each do |user| %>
<div class="user">

  <b>Name: </b><%= user.name %> <br>
  <%= image_tag user.picture, class: 'image' %> <br>
  <b id="bio">Bio: </b><%= user.bio %> <br>
  <b id="follow">followers </b> <%= user.followers.count %> <br>
  <b id="comments"comments></b> <%= user.comments.count %> <br>
  </div>
  <% end %>

</body>
</html>
